<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarWars_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StarWars_App.styles.css" asp-append-version="true" />
    <link href="~/lib/msfmultiselect-master/msfmultiselect-master/msfmultiselect.css" rel="stylesheet" />
    <link href="~/lib/msfmultiselect-master/msfmultiselect-master/msfmultiselect.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white  mb-3" style="height: 100px">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left: 80px">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Каталог</a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px">
                            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="AddCharacter">Добавить персонажа</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - StarWars_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/msfmultiselect-master/msfmultiselect-master/msfmultiselect.js"></script>
    <script src="~/lib/msfmultiselect-master/msfmultiselect-master/msfmultiselect.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
