@model CharacterVM;

@{
    ViewData["Title"] = "Add Character";
}

<h1> Добавление персонажа</h1>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<br />

<br />
<form asp-action="AddCharacter" asp-controller="Home" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="container">
        <div class="row row-cols-4">
            
            <div class="col-7">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Name" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>                    
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="NameOrign" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="NameOrign" class="form-control" />
                            <span asp-validation-for="NameOrign" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Birthday" class="control-label"></label></b>
                        </div>
                        <div class="col-9">
                            <input asp-for="Birthday" class="form-control" />
                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <p style="margin-left: -10px">
                               <b> ДБЯ </b>
                            </p>
                        </div>
                    </div>   
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Planet" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="Planet" class="form-control" />
                            <span asp-validation-for="Planet" class="text-danger"></span>
                        </div>
                    </div>     
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Sex" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="Sex" class="form-control" />
                            <span asp-validation-for="Sex" class="text-danger"></span>
                        </div>
                    </div>        
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Race" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="Race" class="form-control" />
                            <span asp-validation-for="Race" class="text-danger"></span>
                        </div>
                    </div>                    
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="Height" class="control-label"></label></b>
                        </div>
                        <div class="col-9">
                            <input asp-for="Height" class="form-control" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <p style="margin-left: -10px">
                                <b> M </b>
                            </p>
                        </div>
                    </div>                    
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="HairColor" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="HairColor" class="form-control" />
                            <span asp-validation-for="HairColor" class="text-danger"></span>
                        </div>
                    </div>    
                </div>
                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <b> <label asp-for="EyeColor" class="control-label"></label></b>
                        </div>
                        <div class="col">
                            <input asp-for="EyeColor" class="form-control" />
                            <span asp-validation-for="EyeColor" class="text-danger"></span>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-5">
                <div class="form-group" style="margin-top: -10px">
                    <b> <label asp-for="Description" class="control-label"></label></b>
                    <br />
                    <br />
                    <textarea asp-for="Description" class="form-control" style="height: 200px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <b> <label asp-for="SelectedFilms" class="control-label"></label></b>
                    <br />
                    <br />
                    <div id="example">
                        @Html.ListBoxFor(m => m.SelectedFilms, Model.CharacterFilms, new { @style="width: 100%; height: 200px", id="multiselect", multiple="multiple"})
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a asp-action="Index" asp-area="" asp-controller="Home" class="btn btn-secondary me-md-2" style="margin-right: 30px">Отменить</a>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-secondary" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
           <script type="text/javascript">
            var mySelect = new MSFmultiSelect(
                document.querySelector('#multiselect'),
                {
                    appendTo: '#example',
                     width:516,
                     height:130,
                    selectAll: true,
                    placeholder: 'Выберите фильмы'
                }
            );
        </script>                      
}